<div class="container">
  <div>
      <a href="#" class="button-collapse" data-activates="slide-cart" data-sidenav="right" data-menuwidth="200" data-closeonclick="true">
        <i class="material-icons">add</i>
      </a>
  </div>
  <ul id="slide-cart" class="side-nav">
    <li><a ui-sref="home">Hello</a></li>
    <li><a ui-sref="shops">Shops</a></li>
  </ul>
  <h1>Shops</h1>
  <ul>
    <li>Eeylops Owl Emporium</li>
    <li>Florean Fortescue's Ice Cream Parlour</li>
    <li>Flourish and Blotts</li>
    <li>Gringotts Wizarding Bank</li>
    <li>Madam Malkin's Robes for All Occasions</li>
    <li>Magical Menagerie</li>
    <li>Ollivanders</li>
    <li>Quality Quidditch Supplies</li>
    <li>Rosa Lee Teabag</li>
  </ul>

</div>
